@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <h1 style="text-align:center">Aqueous Humor Proteomics Database</h1>
    </div>
</div>
<hr />
<div>
    <p style="text-align:justify">Aqueous humor (AH) is the fluid in the anterior and posterior chambers of the eye that contains proteins regulating many ocular health functions, including nutrient and oxygen supply, the removal of metabolic waste, ocular immunity, and ocular shape and refraction. The dynamics of AH and the fine balance between production and drainage is essential in maintaining the physiological intraocular pressure (IOP). Therefore, identifying the protein contents of AH is vital in understanding their physiological and pathological roles in the eye.</p><br />
    <p style="text-align:justify">Liquid- chromatography /Mass spectrometry (LC-MS/MS) has emerged as the analytical method of choice because of its high -throughput nature, sensitivity, high dynamic range, and ability to identify complex mixtures even from small sample volumes. However, in LC-MS/MS profiles, the proteins with high concentrations have a higher chance of detection, whereas the proteins with lower concentrations are detected only in a smaller percentage of samples due to random chance. It is exceedingly difficult to draw statistical conclusions for the proteins with a very low detection rate and should be excluded at the data analysis step. However, making such decisions that are based on the smaller sample set can lead to poor reproducibility. Therefore, a reference list of AH proteins detected reliably using a larger sample set may be helpful in alleviating these concerns.</p><br />
    <p style="text-align:justify">By utilizing a large sample set, state of the art technology, and revolutionary data analysis methods, we identified the constitutive proteome of human aqueous humor, which may be useful as a reference for future studies. Discovery of AH proteomic alterations associated with glaucomatous optic neuropathy and glaucoma risk factors will help the research community at large in understanding physiological and pathological proteomics signatures in the AH.</p> <br />

    <p>Database Statistics</p> 

    <p>
        349 sample(s) in database <br />
        17068 unique proteins measured <br />
        194344 total proteins measured <br />
    </p>
</div>
