@model HumorProteomics.Models.ClinicalData

@{
    ViewData["Title"] = "Create";
}

<link href="~/css/clinicaldata.css" rel="stylesheet" />

<body3>
    <div class="container">
        <header>Clinical Data  Details</header>
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form first">
                <div class="details Protein">
                    <div class="fields">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="input-field">
                            <label asp-for="SampleID">Sample ID</label>
                            <input asp-for="SampleID" type="number" onchange="setTwoNumberDecimal" min="0" max="1000" step="0.25" value="0.00" placeholder="Enter Sample ID" />
                        </div>
                        <span asp-validation-for="SampleID" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="CG">C/G</label>
                            <input asp-for="CG" type="text" placeholder="Enter C/G" />
                        </div>
                        <span asp-validation-for="CG" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="Sex">Sex</label>
                            <input asp-for="Sex" type="text" placeholder="Enter Sex" />
                        </div>
                        <span asp-validation-for="Sex" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="Age">Age</label>
                            <input asp-for="Age" type="number" onchange="setTwoNumberDecimal" min="0" max="1000" step="0.25" value="0.00" placeholder="Enter Age" />
                        </div>
                        <span asp-validation-for="Age" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="Race">Race</label>
                            <input asp-for="Race" type="text"  placeholder="Enter Race" />
                        </div>
                        <span asp-validation-for="Race" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="Ethnicity">Ethnicity</label>
                            <input asp-for="Ethnicity" type="text" placeholder="Enter Ethnicity" />
                        </div>
                        <span asp-validation-for="Ethnicity" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="IOP">IOP</label>
                            <input asp-for="IOP" type="number" onchange="setTwoNumberDecimal" min="0" max="1000" step="0.25" value="0.00" placeholder="Enter IOP" />
                        </div>
                        <span asp-validation-for="IOP" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="IOPM">IOP Method</label>
                            <input asp-for="IOPM" type="text" placeholder="Enter IOP Method" />
                        </div>
                        <span asp-validation-for="IOPM" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="OD">OD/OS</label>
                            <input asp-for="OD" type="text" placeholder="Enter OD/OS" />
                        </div>
                        <span asp-validation-for="OD" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="Incisional">Incisional</label>
                            <input asp-for="Incisional" type="text" placeholder="Enter Incisional" />
                        </div>
                        <span asp-validation-for="Incisional" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="Smoking">Smoking</label>
                            <input asp-for="Smoking" type="text" placeholder="Enter Smoking" />
                        </div>
                        <span asp-validation-for="Smoking" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="HTN">HTN</label>
                            <input asp-for="HTN" type="text" placeholder="Enter HTN" />
                        </div>
                        <span asp-validation-for="HTN" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="CVD">CVD</label>
                            <input asp-for="CVD" type="text" placeholder="Enter CVD" />
                        </div>
                        <span asp-validation-for="CVD" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="CVA">CVA</label>
                            <input asp-for="CVA" type="text" placeholder="Enter CVA" />
                        </div>
                        <span asp-validation-for="CVA" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="Collagen">Collagen</label>
                            <input asp-for="Collagen" type="text" placeholder="Enter Collagen" />
                        </div>
                        <span asp-validation-for="Collagen" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="Diabetes">Diabetes</label>
                            <input asp-for="Diabetes" type="text" placeholder="Enter Diabetes" />
                        </div>
                        <span asp-validation-for="Diabetes" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="SysDiseases">Other Systemic Diseases</label>
                            <input asp-for="SysDiseases" type="text" placeholder="Enter Other Systemic Diseases" />
                        </div>
                        <span asp-validation-for="SysDiseases" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="Glaucoma">Glaucoma</label>
                            <input asp-for="Glaucoma" type="text" placeholder="Enter Glaucoma" />
                        </div>
                        <span asp-validation-for="Glaucoma" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="Cataract">Cataract</label>
                            <input asp-for="Cataract" type="text" placeholder="Enter Cataract" />
                        </div>
                        <span asp-validation-for="Cataract" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="DryEye">Dry Eye Syndrome</label>
                            <input asp-for="DryEye" type="text" placeholder="Enter Dry Eye Syndrome" />
                        </div>
                        <span asp-validation-for="DryEye" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="Laser">Laser</label>
                            <input asp-for="Laser" type="text"  placeholder="Enter Laser" />
                        </div>
                        <span asp-validation-for="Laser" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="DR">DR</label>
                            <input asp-for="DR" type="text" placeholder="Enter DR" />
                        </div>
                        <span asp-validation-for="DR" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="DiabL">Diab Laser</label>
                            <input asp-for="DiabL" type="text" placeholder="Enter DiabL" />
                        </div>
                        <span asp-validation-for="DiabL" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="OEyeD">Other Eye Disease</label>
                            <input asp-for="OEyeD" type="text" placeholder="Enter OEyeD" />
                        </div>
                        <span asp-validation-for="OEyeD" class="text-danger"></span>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Save" class="btn btn-primary" /> |
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</body3>



@* <hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SampleID" class="control-label"></label>
                <input asp-for="SampleID" class="form-control" />
                <span asp-validation-for="SampleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CG" class="control-label"></label>
                <input asp-for="CG" class="form-control" />
                <span asp-validation-for="CG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <input asp-for="Sex" class="form-control" />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race" class="control-label"></label>
                <input asp-for="Race" class="form-control" />
                <span asp-validation-for="Race" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ethnicity" class="control-label"></label>
                <input asp-for="Ethnicity" class="form-control" />
                <span asp-validation-for="Ethnicity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IOP" class="control-label"></label>
                <input asp-for="IOP" class="form-control" />
                <span asp-validation-for="IOP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IOPM" class="control-label"></label>
                <input asp-for="IOPM" class="form-control" />
                <span asp-validation-for="IOPM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OD" class="control-label"></label>
                <input asp-for="OD" class="form-control" />
                <span asp-validation-for="OD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incisional" class="control-label"></label>
                <input asp-for="Incisional" class="form-control" />
                <span asp-validation-for="Incisional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Smoking" class="control-label"></label>
                <input asp-for="Smoking" class="form-control" />
                <span asp-validation-for="Smoking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HTN" class="control-label"></label>
                <input asp-for="HTN" class="form-control" />
                <span asp-validation-for="HTN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVD" class="control-label"></label>
                <input asp-for="CVD" class="form-control" />
                <span asp-validation-for="CVD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVA" class="control-label"></label>
                <input asp-for="CVA" class="form-control" />
                <span asp-validation-for="CVA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Collagen" class="control-label"></label>
                <input asp-for="Collagen" class="form-control" />
                <span asp-validation-for="Collagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diabetes" class="control-label"></label>
                <input asp-for="Diabetes" class="form-control" />
                <span asp-validation-for="Diabetes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SysDiseases" class="control-label"></label>
                <input asp-for="SysDiseases" class="form-control" />
                <span asp-validation-for="SysDiseases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Glaucoma" class="control-label"></label>
                <input asp-for="Glaucoma" class="form-control" />
                <span asp-validation-for="Glaucoma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cataract" class="control-label"></label>
                <input asp-for="Cataract" class="form-control" />
                <span asp-validation-for="Cataract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DryEye" class="control-label"></label>
                <input asp-for="DryEye" class="form-control" />
                <span asp-validation-for="DryEye" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Laser" class="control-label"></label>
                <input asp-for="Laser" class="form-control" />
                <span asp-validation-for="Laser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DR" class="control-label"></label>
                <input asp-for="DR" class="form-control" />
                <span asp-validation-for="DR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiabL" class="control-label"></label>
                <input asp-for="DiabL" class="form-control" />
                <span asp-validation-for="DiabL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OEyeD" class="control-label"></label>
                <input asp-for="OEyeD" class="form-control" />
                <span asp-validation-for="OEyeD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
 *@
